#Ignore the logs directory
logs/

#Ignore the python idea folder
**/.idea
**/__pycache__

#Ignoring git and cache folders
**/.git
**/.cache
**.gitattributes

#Ignoring all the markdown and class files
*.md
**/*.class